.passwordWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  .password {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 1em;
    border: 1px solid #eee;
    border-radius: 5px;
    > input {
      border: none;
      flex-grow: 1;
      padding: 0;
      &:focus {
        border: none;
      }
    }
    > span {
      cursor: pointer;
    }
  }
  > span {
    color: #777;
    font-size: 0.85em;
  }
}
